html {
    background-image: url(justin.png)
}
a {
    font: 'Courier New', Courier, monospace;
    text-decoration: none;
    color: teal;
}

a:hover {
    color: red;
    text-shadow: 0rem 0rem 1rem teal;
}