body {
    background-image: url(justin.png);
    background-size: cover;
}

@font-face {
    font-family: 'quicksand';
    src: url('quicksand-regular-webfont.eot');
    src: url('quicksand-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('quicksand-regular-webfont.woff2') format('woff2'),
         url('quicksand-regular-webfont.woff') format('woff'),
         url('quicksand-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-weight: lighter;
  
  }

html {
    font-family: quicksand;
}

  a {
    font-family: quicksand;
    text-decoration: none;
    color: rgb(24, 12, 196);
}

a:hover {
    color: red;
    text-shadow: 0rem 0rem 1rem teal;
}